.fuck {
    color: #fff;
    padding-top: 63px;
    padding-bottom: 100px;
    background-color: black;

    &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    &--text{
        padding-left: 50px;
        padding-right: 60px;
        text-align: justify;
        padding-bottom: 18px;

    }

    &--subTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkgoldenrod;
        font-size: 5vh;
        padding-top: 30px;
    }

    &--img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        border-radius: 100px;
        padding-top: 30px;
    }

    }

